.navbar{
    width: 100%;
    max-height: 150px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(24, 16, 255, 0.625);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-bottom-left-radius: 100px;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 100;

}
.title{
    margin-top: 20px;
    margin-left: 100px;
    font-size: 1.4rem;
}
.title h1{
    font-weight: 900;
     color:white;
     letter-spacing: 2px;
     font-family: 'Poppins', sans-serif;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
   position: relative;
   background: white;
   display: flex;
   padding: 10px;
   border-bottom-left-radius: 20px;
   border-top-right-radius: 20px;
   box-shadow: 0px 4px 8px gray;
   top: 10px;
   min-width: 300px;
   align-items: center;
   margin-bottom: 20px;
}
.input div{
    display: flex;
    margin: 5px;
    box-shadow: 0px 2px 4px gray;
    padding:5px;
}
.input div i{
    margin-right: 10px;
    font-size: 1.3rem;
    margin-top: 15px;
}
.input div h3{
    margin-left: 5px;
}
.input div input[type='text'] {
    width: 200px;
    height: 45px;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    text-transform: capitalize;
     font-family: 'Poppins', sans-serif;
     transition: 0.5s;
     margin-left:5px;
  }

  .input div input[type='date'] {
    width: 200px;
    height: 45px;
    border: none;
    padding: 10px;
    font-weight: 700;
    font-size: 1rem;
     font-family: 'Poppins', sans-serif;
     transition: 0.5s;
  }

  .input div input[type='text']::placeholder{
      font-weight: 200;
      font-size: 0.8rem;
      font-family: 'Acme', sans-serif;
  }

  .input div input[type="checkbox"]{
      transform: scale(1.1);  
      padding: 10px;
      height: 45px;
   

  }
  .checkbox{
      width: 130px;
      box-shadow: none !important;
  }
  .checkbox h3{
      position: relative !important;
      top: 12px !important;
      left: 10px !important;
  }
  .input div input[type='text']:focus {
 
      border-bottom: 2px solid blueviolet;
      box-shadow: none;
      outline: none; 
  }.input div button{
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border:none;
    outline: none;
    box-shadow: 0px 2px 4px gray;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid gray;
    font-family: 'Poppins', sans-serif;
}
.input i{
    color:blueviolet;
    padding-left: 5px;
}
.input div button:hover{
    background-color: white;
    color: blueviolet;
    border: 1px solid blueviolet;
}
.checkbox h3{
    font-family: 'Acme', sans-serif;
    color: rgb(64, 58, 58);
}
@media screen and (min-width:320px) and (max-width:1023px)
{

    .title{
        margin-top: 2px;
        margin-left: 10px;
        font-size: 1rem;
    }
    .input{
        padding: 10px;
        flex-direction: column;
        top: 20px;
        height: 270px;
    }
    .input div input[type='text'],.input div input[type='date']  {
        width: 200px;
        height: 40px;
        margin-left: 10px;
    }
    .input div{
        margin:0;
    }
}
@media screen and (min-width:768px) and (max-width:1023px)
{
     .input div input[type='text'],.input div input[type='date'] {
        width: 400px;
        height: 40px;
        margin-left: 10px;
    }
}