@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:wght@700&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    background: rgb(243, 238, 238);
    background-attachment: scroll;
}
body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(#f00,#f0f);
    clip-path: circle(20% at right 50%);
}
body::after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(#ff4727,#5622ff);
    clip-path: circle(20% at left 90%);
    z-index: -10;
    border: none;
    outline: none;
}

/* Main css */


.loader{
  position: relative;
  left: 550px;
  top:150px;
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@import './components/DisplayCoursesComponent/DisplayCourses.css';

@import './components/HeaderComponent/Header.css';